body {
    background-color: whitesmoke;
}
.post {
    margin: auto;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.icon-css {
   height: 80%;
   width: 0%;
   align-self: center;
   font-size: 1.7em;
   margin: 4px 4px 0px 8px;

}

.text {
    height: 80%;
   width: 85%;
   align-self: flex-start;
   font-size: 1em;
   padding: 8px 10px 0px 10px;
}

.punto {
    margin: 8px 15px 8px 0px;
    align-self: center;
    font-size: 1.5em;

}

img {
    width: 100%;
    height: 60%;

}

.buttons {
    margin-top: 30px;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.heart {
    height: 80%;
   width: 4%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;

}

.comment {
    height: 80%;
   width: 4%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;

}

.paper {
    height: 80%;
   width: 80%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;

}

.bookmark {
    margin: 8px 15px 8px 0px;
    align-self: center;
    font-size: 1.5em;

}

.body {
    width: 100%;
    height: 30%;
    padding: 5px;
    font-size: 1em;
    
}

.container {
    width: 50%;
    margin: auto;
}